.navbar {
    background-color: rgb(33, 37, 41);  /* dark gray for primary-color */
    font-weight: 500;  /* medium font weight */
}

.navbar-nav .nav-item .nav-link {
    color: rgb(255, 255, 255);  /* white */
    transition: ease-in-out 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: rgb(13, 110, 253);  /* bootstrap primary blue for action-color */
}

/*LOGO*/
nav img {
    border: 2px solid transparent;
    transition: ease-in-out 0.3s;
}

nav img:hover {
    border: 2px solid rgb(255, 255, 255);  /* white */
    border-radius: 100em;
    transition: ease-in-out .4s;
    transform: scale(1.1);
}